### 1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [12]:
a, b = map(int, input().split())
print(a+b)

16

### 1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [2]:
a,b = map(int, input().split())
print(a-b)

0

### 10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [3]:
a,b = map(int, input().split())
print(a*b)

6

### 10869. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
a,b = map(int, input().split())

print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

### 1008. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [2]:
a,b = map(int, input().split())
print(a/b)

1.6666666666666667

### 9498. 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [10]:
x = input()

if 90 <= int(x) <= 100:
    print('A')
elif 80 <= int(x) <= 89:
    print('B')
elif 70 <= int(x) <= 79:
    print('C')
elif 60 <= int(x) <= 69:
    print('D')
else:
    print('F')

B

In [11]:
# 또 다른 방식식
x = int(input())

if 90 <= x <= 100:
    print('A')
elif 80 <= x <= 89:
    print('B')
elif 70 <= x <= 79:
    print('C')
elif 60 <= x <= 69:
    print('D')
else:
    print('F')

B

### 1330. 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오. (A와 B는 공백 한 칸으로 구분되어져 있다)

In [12]:
a,b = map(int, input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
elif a == b:
    print('==')

<

### 2739. N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다. (N은 1보다 크거나 같고, 9보다 작거나 같음, N*1부터 N*9까지 출력)

In [ ]:
n = int(input())

for i in range(1,10,1):
    print(n, '*' , int(i) ,'=', n * int(i))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72

### 10430. (A+B)%C는 ((A%C) + (B%C))%C 와 같을까? 
### (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
### 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [19]:
a,b,c = map(int, input().split())

print((a+b)%c)
print(((a%c) + (b%c))%c)
print((a*b)%c)
print(((a%c) * (b%c))%c)

1
1
0
0

### 2438. 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [24]:
n = int(input())

for i in range(1,n+1,1):
    print('*' * int(i))

*
**
***
****
*****