### 1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. ✓

In [12]:
a, b = map(int, input().split())
print(a+b)

16

### 1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [2]:
a,b = map(int, input().split())
print(a-b)

0

### 10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [3]:
a,b = map(int, input().split())
print(a*b)

6

### 10869. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
a,b = map(int, input().split())

print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

### 1008. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [2]:
a,b = map(int, input().split())
print(a/b)

1.6666666666666667

### 9498. 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [10]:
x = input()

if 90 <= int(x) <= 100:
    print('A')
elif 80 <= int(x) <= 89:
    print('B')
elif 70 <= int(x) <= 79:
    print('C')
elif 60 <= int(x) <= 69:
    print('D')
else:
    print('F')

B

In [11]:
# 또 다른 방식식
x = int(input())

if 90 <= x <= 100:
    print('A')
elif 80 <= x <= 89:
    print('B')
elif 70 <= x <= 79:
    print('C')
elif 60 <= x <= 69:
    print('D')
else:
    print('F')

B

### 1330. 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오. (A와 B는 공백 한 칸으로 구분되어져 있다)

In [12]:
a,b = map(int, input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
elif a == b:
    print('==')

<

### 2739. N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다. (N은 1보다 크거나 같고, 9보다 작거나 같음, N*1부터 N*9까지 출력)

In [ ]:
n = int(input())

for i in range(1,10,1):
    print(n, '*' , int(i) ,'=', n * int(i))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72

### 10430. (A+B)%C는 ((A%C) + (B%C))%C 와 같을까? 
### (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
### 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [19]:
a,b,c = map(int, input().split())

print((a+b)%c)
print(((a%c) + (b%c))%c)
print((a*b)%c)
print(((a%c) * (b%c))%c)

1
1
0
0

### 2438. 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [24]:
n = int(input())

for i in range(1,n+1,1):
    print('*' * int(i))

*
**
***
****
*****

### 10171. 아래 예제와 같이 고양이를 출력하시오.

In [1]:
print("\    /\ ")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

### 2753. 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [2]:
x = int(input())

if (((x%4 == 0) & (x%100 != 0)) | (x%400 == 0)):
    print(1)
else:
    print(0)

1

### 10172. 아래 예제와 같이 개를 출력하시오. (고양이 문제와 비슷) ✓

In [7]:
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\ ')
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

### 10718.두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

In [8]:
print('강한친구 대한육군')
print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

### 2439. 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제, 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오. ✓

In [23]:
x = int(input())

for i in range(1,x+1):
    print(" "* (x-i) + "*" * i)

    *
   **
  ***
 ****
*****

### 10950. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [ ]:
t = int(input())

for i in range(t):
    a,b = map(int, input().split())
    print(a+b)

2
5
7
17
7

### 8393. n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오. ✓

In [18]:
n = int(input())

total = 0
for i in range(n+1):
    total += i
    
print(total)

15

### 14681. 점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

In [21]:
x = int(input())
y = int(input())

if (x > 0) & (y > 0):
    print(1)
elif (x < 0) & (y > 0):
    print(2)
elif (x < 0) & (y < 0):
    print(3)
else:
    print(4)

4

### 10871. 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오. ✓

In [33]:
# 첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)
# 둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.

n, x = map(int, input().split())
a = list(map(int, input().split()))

for j in range(len(a)):
    if a[j] < x:
        print(a[j])

1
4
2
3

### 10952. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 입력은 여러 개의 테스트 케이스로 이루어져 있다.각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10) 입력의 마지막에는 0 두 개가 들어온다. ✓

In [34]:
while 1:
    a,b = map(int, input().split())
    if (a == 0 and b == 0):
        break
    else:
        print(a + b)

### 10818. N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [38]:
n = int(input())
x = list(map(int, input().split()))

print(min(x), max(x))

7 35

### 10926. 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [2]:
id = str(input())

print(id +'??!')

joonas??!

### 2562. 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [ ]:
# 방법 1
list = []

for i in range(9):
    i = int(input())
    list.append(i)

# 방법 2
list = [int(input()) for _ in range(9)]
    
print(max(list))
print(list.index(max(list))+1)

### 11021. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
### 첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10) 각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [ ]:
t = int(input())

for i in range(1, t+1):
    a,b = map(int, input().split())
    print("Case #"+str(i)+':',(a+b))

Case # 1 :  2
Case # 2 :  5
Case # 3 :  7
Case # 4 :  17
Case # 5 :  7

### 10951. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 입력은 여러 개의 테스트 케이스로 이루어져 있다. 각 테스트 케이스마다 A+B를 출력한다.

In [ ]:
# while True로 무한반복 설정해 둔 뒤에 try, except로 정상적인 입력과 break할 부분 구분하기

while True:
    try:
        a,b = map(int, input().split())
        print(a+b)
    except:
        break

### 2741. 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [16]:
n = int(input())

for i in range(1, n+1):
    print(i)

1
2
3
4
5
6
7
8
9

### 11022. 첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [23]:
# f-string 사용하기기
t = int(input())

for i in range(1,t+1):
    a,b = map(int, input().split())
    print(f"Case #{i}: {a} + {b} = {a+b}")

Case #1: 1 + 1 = 2
Case #2: 2 + 3 = 5
Case #3: 3 + 4 = 7
Case #4: 9 + 8 = 17
Case #5: 5 + 2 = 7

### 11720. N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

In [1]:
nums= input()
total = 0

for i in nums:
    total += int(i)
print(total)

15

### 15552. 첫 줄에 테스트케이스의 개수 T가 주어진다. 각 테스트케이스마다 A+B를 한 줄에 하나씩 순서대로 출력한다.

In [ ]:
# 그냥 이 문제는 input 대신에 sys를 import해서 대신 사용할 수 있는 것을 보여주는 듯듯
import sys

t = int(sys.stdin.readline())

for i in range(t):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)

### 11654. 알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

In [ ]:
# ord() : 문자의 아스키 코드값을 리턴하는 함수.(A -> 65)
# chr() : 아스키 코드값을 입력으로 받아 그 코드에 해당하는 문자를 출력하는 함수.(65 -> A)
a = input()
print(ord(a))

57

### 1152. 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

In [ ]:
a = list(map(str, input().split()))

print(len(a))

6

###